####################################################################################
####################################################################################
####################################################################################
#################################PM2.5##############################################
day <- sprintf("%02.0f",1:31)
station <- c("atzx",
             "bbxq",
             "bdj",
             "bdl",
             "bl",
             "cpq",
             "ddj",
             "dgc",
             "ds",
             "dxq",
             "fthy",
             "gc",
             "gy",
             "hrq",
             "llh",
             "lx",
             "mtgq",
             "mysk",
             "myx",
             "nzg",
             "pgq",
             "RealTime",
             "tt",
             "tzq",
             "wl",
             "wsxg",
             "xl",
             "ydmndj",
             "yf",
             "yg",
             "yld",
             "yqx",
             "yz",
             "zwy"
)
stationPM <- rep(0,length(day)*length(station));dim(stationPM) <- c(length(day),length(station));colnames(stationPM) <- station
for (i in day) {
  I <- which(day==i)
  location <- paste("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM2.5_2012-12/2012-12/2012-12-",i,"/",sep="")
  setwd(location)
  for (j in station) {
    J <- which(station==j)
    if (file.info(paste(j,".csv",sep=""))$size>1) {
      stationValue <- as.matrix(read.csv(paste(j,".csv",sep=""),header=F))
      stationPM[I,J] <- colMeans(as.matrix(stationValue))*1000
    } else {
      stationPM[I,J] <- 0
    }
  }
}
setwd("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM2.5_2012-12/")
write.csv(stationPM,file="stationPM2.5_201212.csv")
#yqx <-  read.csv(paste(x,"201210",i,y,".csv",sep=""))

##############################################################
##############################################################
##############################################################
######################零值####################################
##############先改abnormal.bat再改以下########################
time <- sprintf("%02.0f",0:23)#无需改
day <- sprintf("%02.0f",15:25)
station <- "nzg"
stationFile <- rep(0,length(day)*length(time));dim(stationFile) <- c(length(day),length(time));colnames(stationFile) <- time

for (i in day) {
  I <- which(day==i)
  location <- paste("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM2.5_2012-12/2012-12/2012-12-",i,"/",sep="")
  setwd(location)
  for (j in time) {
    J <- which(time==j)
    #stationFile[I,J] <- read.csv(paste(station,j,".csv",sep=""),header=F)
    stationFile[I,J] <- file.info(paste(station,j,".csv",sep=""))$size
    } 
}


###############################################################
###############################################################
###############################################################
#######################PM10####################################
####################先运行names.bat，再运行以下################
library(XML)
#a <- readLines("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM10 2012-11/2012-11/2012-10-27/2012-10-27/2012-10-27 00-30-15  atzx.html")
#download.file("file:///F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM10%202012-11/2012-11/2012-10-27/2012-10-27/2012-10-27%2000-30-15%20%20atzx.html",a,method="curl")
month <- 12
day <- sprintf("%02.0f",1:31)
station <- c("atzx",
             "bbxq",
             "bdl",
             "cpq",
             "dl",
             "ds",
             "dxq",
             "fthy",
             "gc",
             "gy",
             "hrq",
             "lx",
             "mtgq",
             "mysk",
             "myx",
             "nzg",
             "pgq",
             "syq",
             "tt",
             "tzq",
             "wl",
             "wsxg",
             "yf",
             "yg",
             "yqx",
             "yz",
             "zwy"
)
stationPM10 <- rep(0,length(day)*length(station));dim(stationPM10) <- c(length(day),length(station));colnames(stationPM10) <- station
for (i in day) {
  I <- which(day==i)
  location <- sprintf("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM10_2012-%i/2012-%i/2012-%i-%s/",month,month,month,i)
  setwd(location)
  for (j in station) {
    J <- which(station==j)
    HTML <- readHTMLTable(paste(location,j,".html",sep=""),as.dataframe=T,header=F)
    PM10Raw <- as.character(HTML[[1]][,4])
    RawWithBlank <- rep(0,length(PM10Raw))
    for (k in 1:length(PM10Raw)){
      RawWithBlank[k] <- nchar(PM10Raw[k])
    }
    PM10hr <- PM10Raw[-which(RawWithBlank!=5)]
    PM10 <- mean(as.numeric(PM10hr))*1000
    stationPM10[I,J] <- PM10
  }
}

setwd(sprintf("F:/Khaki/SPAValidation/RAW/Nov-Dec2012/PM10_2012-%i/",month))
write.csv(stationPM10,file=sprintf("stationPM10_2012%i.csv",month))
